%form#shortener{:method=>'post',:action=>'/'}
  %input{:type=>'hidden',:name=>'_method',:value=>'put'}
  ="http://#{@env['HTTP_HOST']}/"
  %input#key.faux{:type=>'text',:name=>'key',:value=>@url.key,:tabindex=>2,:size=>8}>
  &#10132;
  %input#url{:type=>'text',:name=>'url',:value=>@url.url,:tabindex=>1,:size=>35}
  %input#shorten{:type=>'submit',:value=>'Shorten',:tabindex=>3}
#status
:javascript
  // Replace me with some magical jQuery that makes this thing work!
  $('#shortener').submit(function(){
    $.ajax({
      type: "PUT",
      url: "/" + $('#key').val(),
      data: $('#url').val(),
      complete: function(xhr, textStatus){
        if(xhr.status == 302){
          alert(xhr.getResponseHeaders);
        }
        else if (xhr.status == 0) {
          alert(0);
        }
        else 
        {
          alert(xhr.responseText);
        }
      }
    });
    return false;
  });