!!!
!!! xml
%html
  %head
    %title shorty
    %link{:href=>'/stylesheet.css',:rel=>'stylesheet',:type=>'text/css'}
    %script{:type=>'text/javascript',:src=>'/jquery.js'}
  %body
    %h1 shorty
    =yield