#errors
  %ul
    -@url.errors.each do |error|
      %li=error
%form{:method=>'post',:action=>'/'}
  %input{:type=>'hidden',:name=>'_method',:value=>'put'}
  %ol
    %li
      %label{:for=>'key'} Key
      %input#key{:type=>'text',:name=>'key',:value=>@url.key}
    %li
      %label{:for=>'url'} Url
      %input#url{:type=>'text',:name=>'url',:value=>@url.url}
    %li
      %input{:type=>'submit',:value=>'Submit'}