%form{:method=>'post',:action=>'/'}
  %input{:type=>'hidden',:name=>'_method',:value=>'put'}
  ="http://#{@env['HTTP_HOST']}/"
  %input#key{:type=>'text',:name=>'key',:value=>@url.key}
  \=>
  %input#url{:type=>'text',:name=>'url',:value=>@url.url}
  :javascript
    $(document).ready(function(){
      $('#url').focus()
    });
  %input{:type=>'submit',:value=>'Submit'}
-unless @url.errors.empty?
  #errors
    %ul
      -@url.errors.each do |error|
        %li=error