%input#url{:type=>'text',:value=>"http://#{@env['HTTP_HOST']}/#{@url.key}",:size=>64}
:javascript
  $(document).ready(function(){
    var url = $('#url');
    url.focus();
    url.select();
    var width = url.val().length;
    url.attr('size', width);
    url.focus(function(url){
      url.select();
    })
  });
&#10132;
=@url.url
%a{:href=>'/new'} Another Please!