body
  :background #efefef
body, input
  :font
    :family Helvetica
    :size 1em
form
  ol
    :list-style none
    li
      :padding 0.5em 0
      label
        :display block
        :font-weight bold
      input
        :font-weight bold